*{
    margin:0;
    padding:0;
}
.tit{
    background-color: rgb(40 40 40);
    color: rgb(161, 158, 158);
    padding: 30px;
    
}
.top,.side,.home{
    display: inline;
}
.top{
    margin-left: 41%;
}
.home{
    padding-right: 10px;
}
.homeimg{
    padding: 2px;
    border: none;
    border-radius: 5px;
}
.homeimg:hover{
    background-color: rgb(220, 220, 220);
    transition: background-color 0.3s ease;
}
.center{
    margin-left:auto;
    margin-top:50px;
    margin-bottom:50px;
    margin-right:auto;
    width: 600px;
    height: 370px;
    background-color: white;
   /* text-align: center;*/
    /*border:1px solid #dfd6d6;
    border-radius: 5px;
    border-style: solid;*/
    border: 2px solid #333; /* Dark border around the div */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a dark shadow effect */
    background-color: #f9f9f9;
}
.txtbox{
    font-family: "Trebuchet MS", sans-serif;
    padding: 30px;
}
.inptxt{
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    width: 520px;
    height: 95px;
    padding-top: 10px;
    margin-top: 10px;
    text-align: left;
    white-space: normal;
    overflow: auto;
    resize: none;
    border: 0px solid rgb(40 40 40);
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.voicearea{
    font-family: "Trebuchet MS", sans-serif;
    padding: 30px;
}
.vce{
    font-family: "Trebuchet MS", sans-serif;
    font-size: medium;
    width: 545px;
    height: 50px;
    padding-top: 10px;
    margin-top: 10px;
    border: 0px solid rgb(40 40 40);
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.vce:hover{
    cursor: pointer;
    background-color: rgb(220, 220, 220); 
    color: #000; 
}
.vce:hover li {
    transform: translateX(100px); 
    transition: transform 0.3s ease; 
}
.but {
    font-family: "Trebuchet MS", sans-serif;
    position: relative;
    margin-top: 30px;
    width: 100%;
    /*font-family: "Times New Roman", Times, serif;*/
    background-color: rgb(40, 40, 40);
    color: rgb(161, 158, 158);
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition for background and text color */
    overflow: hidden; /* Ensure overflow is hidden for pseudo-element */
}
.but:hover{
    color: black;
    background-color: rgb(220, 220, 220);
}